@model IEnumerable<DTDOrganizer.Models.ResourcesAdminPartialModel>
<div class="row" style="height:100%; margin-bottom:10vh;">
    @foreach (var item in Model)
    {
        <div class="mt-2 mb-4 col-sm-12 col-md-6 col-lg-4">
            <div class="card shadow text-center justify-content-center">
                @if (User.IsInRole("humanResources") || User.IsInRole("Administrator"))
                {
                    <button type="button" class="btn  text-dark">
                        Orders: <span class="badge badge-primary text-white">@item.Orders</span>
                    </button>
                }
                <img src="@Url.Content(item.Resource.Image)" class=" mx-auto mt-2 card-img-top " style="width:200px; height:200px;">
                <div class="card-body">
                    <h5 class="card-title">@item.Resource.Name</h5>
                    <p class="card-text">@item.Resource.Description.</p>
                    <button id="@item.Resource.Id" onClick="location.href='@Url.Action("RequestAnItem", "Resources", new { id = item.Resource.Id })'" class="btn btnRequest text-white">Request</button>

                    @if (User.IsInRole("humanResources") || User.IsInRole("Administrator"))
                    {
                        <button id="@item.Resource.Id" onClick="deleteAnItem(this)" class="btn btnDelete text-white">Delete</button>
                    }

                </div>
            </div>
        </div>
    }
</div>

<style>
    .btnDelete {
        font-size: 100%;
        border-radius: 3rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: .3rem;
        background-color: #ced6e3;
        border-color: #ced6e3;
        width: 15vh;
    }

    .btnRequest {
        font-size: 100%;
        border-radius: 3rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: .3rem;
        background-color: #7babed;
        border-color: #7babed;
        width: 15vh;
    }
</style>